<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

          <meta name="viewport" content="width=device-width, initial-scale=1">
          
          <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
          
          <!--Bootstrap-->
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        {% endblock head %}
</head>

<body id="index" class="home">

        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        </header><!-- /#banner -->
        
        <div id="container-fluid">
            
            <nav id="menu">
                <ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                
                
                {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                
                <h3>Categories</h3>
                {% for cat, null in categories %}
                      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                
                Okay something needs to go to here so hello there is something here
                
                </ul>
            </nav><!-- /#menu -->
        
            {% block content %}
            {% endblock %}
        
        </div>
        
        <footer class="container-fluid text-center">
                &#9400; 2016 stokori | <a href="http://github.com/stokori/stokori.us">source code</a> | powered by <a href="http://getpelican.com/">pelican</a>
        </footer><!-- /#footer -->
</body>
</html>