{% extends "_base.html" %}
{% block everything %}

        <!--Header-->
        <header>
            <div class="jumbotron" id="banner"></div>
        </header>
        
        <nav id="nav">
        <div class="navbar navbar-default navbar-static-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ SITEURL }}">Home</a></li>
                    <li><a href="{{ SITEURL }}/about">About</a></li>
                    <li><a href="{{ SITEURL }}/projects">Projects</a></li>
                    <li><a href="{{ SITEURL }}/art">Artwork</a></li>
                    <li><a href="{{ SITEURL }}/shop">Shop</a></li>
                    <li><a href="{{ SITEURL }}/blog">Articles</a></li>
                  </ul>
                    
                </div>
        </div>
        </nav>
        
  
        <div class="container">
            <div class="row">
            
            <div>
            <!--Content-->
            <section id="content">
            {% block content %}
            {% endblock %}
            </section>
            </div>
            
            <!--Sidebar
            <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <div id="sidebar" role="navigation">
            
                <img src="{{ SITEURL}}/{{ PROFILE_PICTURE }}" class="profile-picture img-rounded" />
                
                <div class="description">{{ DESCRIPTION }}</div>
            
                <div class="links list list-group">
                    
                    <h3>Categories</h3>
                    {% for cat, null in categories %}
                    <a class="list-group-item" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                    {% endfor %}
                    
                    <h3>Elsewhere</h3>
                    {% for title, url in SOCIAL %}
                    <a class="list-group-item" href="{{ url }}">{{ title }}</a>
                    {% endfor %}
                </div>
            </div>
            </div>
            
            </div>
        </div>-->
        
        
        <div id="footer" class="container-fluid text-center">
                &#9400; 2016 stokori | <a href="http://github.com/stokori/stokori.us">source code</a> | powered by <a href="http://getpelican.com/">pelican</a>
        </div>
        
        
        <!-- Scripts -->
        
        <script>
            $('#nav').affix({
                  offset: {
                    top: $('header').height()
                  }
            });
        </script>
        

{% endblock %}