{% extends "base.html" %}
{% block content %}
<section id="artwork">
{% block content_title %}
<h2>Artwork</h2>
{% endblock %}

<div id="art-nav">
<ul class="nav nav-pills">
    <li><a  href="{{ SITEURL }}/art">All</a></li>
    {% for categoryitem, articles in categories %}
        <li {% if categoryitem == category %} class="active"{% endif %}><a  href="{{ SITEURL }}/{{ categoryitem.url }}">{{ categoryitem }}</a></li>
    {% endfor %}
</ul>
</div>

<ul class="art-list">
<div class="art-sizer"></div>
{% for article in articles_page.object_list %}
        {% if article.category == "comic" %}
        <div class="artwork"> <li><a href="{{ SITEURL }}/{{ article.url }}" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
        {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/vertical/{{ article.image }}">
        
        {% else %}
        <div class="artwork"><li><a href="{{ SITEURL }}/images/art/{{ article.image }}" class="gallery" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
        {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/vertical/{{ article.image }}">
        
        {% endif %}
    
     <div class="art-label"><h4>{{ article.title }}</h4></a> {{ article.locale_date }}. {{ article.medium }}.</div>
     </li></div>
{% endfor %}

</ul>
</div>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
<script>
jQuery(window).on('load', function(){ var $ = jQuery;
      jQuery('a.gallery').colorbox({maxWidth: '80%'});
      var container = document.querySelector('.art-list');
        var msnry = new Masonry( container, {
          itemSelector: '.artwork',
          columnWidth: '.art-sizer',
          gutter: 10,
          percentPosition: true
        });
        
        });
    </script>
{% endblock content %}