{% extends "base.html" %}
{% block isHome %}active{% endblock %}
{% block content %}
<section id="home">
{% block content_title %}{% endblock content_title %}

<div class="row">
<ul class="art-list">
 {% for article in articles if 'featured' in article.tags %}
   {% if loop.index <= 4 %} 
   
        {% if article.category == "comic" %}
           <div class="artwork-home col-sm-3"> <li><a href="{{ SITEURL }}{{ article.url }}" class="gallery" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
         {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/square/{{ article.image }}"></a>
        
        {% else %}
         <div class="artwork-home col-sm-3"><li><a href="{{ SITEURL }}/images/art/{{ article.image }}" class="gallery" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
         {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/square/{{ article.image }}"></a>
        
        {% endif %}
    
     <div class="art-label"><h4>{{ article.title }}</h4> {{ article.locale_date }}, {{ article.medium }}</div>
     </li></div>
     
   {% endif %}
 {% endfor %}
</ul>
</div>
<hr>
<div class="row">
    
    <div class="col-sm-6"><h3>Recent Articles</h3>
        {% set recent = articles if not all_articles else all_articles %}
        <ul id="recent-posts">
        {% for a in recent %}
        {% if a.category == "blog" %}
          {% if loop.index <= 6 %}
            <li>
              <a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
    </div>
    
    <div class="col-sm-6"><h3>Upcoming Events</h3>
        St. Cloud Art Crawl - Friday, June 9, 2017
    </div>
</div>

<script>
jQuery(window).on('load', function(){ var $ = jQuery;
      jQuery('a.gallery').colorbox({maxWidth: '70%'});
        
        });
    </script>

</section><!-- /#content -->
{% endblock content %}
