{% extends "base.html" %}
{% block isHome %}active{% endblock %}
{% block content %}
<section id="home">
{% block content_title %}{% endblock content_title %}

<div class="art-list-home">
<div class="row">
<ul class="art-list">
 {% for article in articles if 'featured' in article.tags %}
   {% if loop.index <= 5 %} 
   
        {% if article.category == "comic" %}
           <div class="artwork-home col-sm-2"> <li><a href="{{ SITEURL }}/{{ article.url }}" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
         {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/square/{{ article.image }}"></a>
        
        {% else %}
         <div class="artwork-home col-sm-2"><li><a href="{{ SITEURL }}/images/art/{{ article.image }}" class="gallery" rel="gallery" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
         {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/square/{{ article.image }}"></a>
        
        {% endif %}
     </li></div>
     
   {% endif %}
 {% endfor %}
</ul>
</div>
</div>
<hr>
<div class="row">
    
    <div class="col-sm-6"><h3>Recent Articles</h3>
        {% set recent = articles if not all_articles else all_articles %}
        <ul id="recent-posts">
        {% for a in recent %}
        {% if a.category == "blog" %}
          {% if loop.index <= 6 %}
            <li>
              <a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
    </div>
    
    <div class="col-sm-6"><h3>Upcoming Events</h3>
        <a href="http://www.artcrawlstcloud.com/">St. Cloud Art Crawl</a> - June 9, 2017
        <br>
        <a href="http://2017.northernspark.org/">Northern Spark</a> - Jun 10, 2017
    </div>
</div>

</section><!-- /#content -->
{% endblock content %}

{% block scripts %}
<script>
jQuery(window).on('load', function(){ var $ = jQuery;
      jQuery('.gallery').colorbox({maxHeight: '80%', rel:'gallery'});
        
        });
    </script>
    {% endblock %}