$steelblue: #3e7cb1;
$paleblue: #78c0e0;
$blackish: #253031;
$tealblue: #5eb1bf;
$whiteish: #cdedf6;

$font-stack: "Open Sans", sans-serif;

body {
    background-image: url("");
    color: $blackish;
}

a, a:visited, a:active {
    color: $steelblue;
    font-decoration: none;
}

a:hover {
    color: $tealblue;
    font-decoration: underline;
}