@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700';

$steelblue: #3e7cb1;
$paleblue: #78c0e0;
$blackish: #253031;
$tealblue: #5eb1bf;
$whiteish: #cdedf6;

$body-font: "Open Sans", sans-serif;
$heading-font: "Roboto Slab", sans-serif;

body {
    background-image: url("");
    background-color: $paleblue;
    color: $blackish;
    font-family: $body-font;
}

a, a:visited, a:active {
    color: $steelblue;
    font-decoration: none;
}

a:hover {
    color: $tealblue;
    font-decoration: underline;
}

h1, h2, h3 {
        font-family: $heading-font;
}

#container {
    width: 100%;
}

#content {
    width: 70%;
    margin-left: 25%;

    ol#post-list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        
        li {
            padding: 10px;
            margin: 10px;
            background-color: $whiteish;
            overflow: auto;
            zoom: 1;
        }
        
    }
    
    .readmore {
        float: right;
        background-color: #FFFFFF;
        padding: 10px;
    }
}

#menu {
    width: 25%;
    background-color: $whiteish;
    float: left;
    padding: 10px;
    margin: 10px;
    height: 100%;
    
    ul {
        list-style: none;
        padding: 0px;
    }
    
}

.clearfix {
   overflow: auto;
   zoom: 1;
}