@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

$steelblue: #3e7cb1;
$paleblue: #78c0e0;
$blackish: #253031;
$tealblue: #5eb1bf;
$whiteish: #cdedf6;

$font-stack: "Open Sans", sans-serif;

body {
    background-image: url("");
    background-color: $paleblue;
    color: $blackish;
    font-family: $font-stack;
}

a, a:visited, a:active {
    color: $steelblue;
    font-decoration: none;
}

a:hover {
    color: $tealblue;
    font-decoration: underline;
}

#container {
    width: 100%;
}

#content {
    width: 70%;
    margin-left: 25%;

    #post-list { 
        list-style: none;
        
        li {
            padding: 10px;
            margin: 5px;
            background-color: $whiteish;
        }
    }
}

#menu {
    width: 20%;
    background-color: $whiteish;
    float: left;
    padding: 10px;
    
    ul {
        list-style: none;
        padding: 0px;
    }
    
}