body {

}

a {
    text-decoration: none;
}

.art-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.art-label h4 {
    font-weight: bold;
    margin: 0;
    margin-bottom: .2em;
    margin-top: .2em;
}

#art-nav {
    margin-bottom: 1em;
}

footer {
      background-color: #222222;
      color: #FFFFFF;
      padding: 15px;
    }
    
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}